/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* * { 
  outline: 1px solid black; 
} */

body { 
		text-align: center; 
		}
	
#header {
		list-style-type: none;
		padding: 0;
		text-align: right;
		margin-right:30px;
		}

#header a {
		display:inline-block;
		padding:5px;
		margin-right: 50;
		vertical-align: middle;
		text-decoration: none;
		font-family: "Arial";
		font-size: small;
		color: #5b5b5b;
		}

#signin {
		background-color:#1e90ff;
		width: 60px;
		height: 30px;
		color:white;
		border-color:blue;
		font-weight:bold;
		padding:5px;
		}


#header a:hover {
		text-decoration: underline;
		}
	
  
#main {
		height: 200px;
		margin-top: 72px;
		margin-left: 2px;
		margin-right: 2px;
		display: image; 
		vertical-align: middle;
		}
  
#google {
		background-repeat:no-repeat;
 		background-position:center;
		text-align:center;
		vertical-align: middle;
		padding-top: 40px;
		padding-bottom: 5px;
		}
   
input:hover, input:focus {
		border-color: blue; 
		}

input {
		width: 600px;
		height: 25px;
		font-size: 14px;
		margin-top: 25px;
		margin-bottom: 15px;
		border: 1px solid #cdcdcd;
		border-color: rgba(0,0,0,.15);
		background: url(images/microphone.png) 100% 50% no-repeat;
		background-size: 24px 24px;
  		}
   
#buttons {
	  	height: 55px;
	  	margin-top: 0px;
 	 	margin-left: 2px;
 		margin-right: 2px;
  		font-weight: bold;
  		}
  			
#lucky:hover, #search:hover {
		space: nowrap;
		border-color: black;
		border-bottom-width: 2px;
		} 

#search {
		width: 105px;
		height: 30px;
		font-weight: bold;
		background-color: #F5F5F5;
		border-color: lightgray;
		border-radius: 4px 4px 4px 4px;
    	border-style: solid;
    	border-width: 1px;
		}
		
#lucky {
		space: nowrap;
		width: 120px;
		height: 30px;
		font-weight: bold;
		background-color: #F5F5F5;
		border-color: lightgray;
		border-radius: 4px 4px 4px 4px;
    	border-style: solid;
    	border-width: 1px;
		}
		
		
  
#footer {
  	position: fixed;
	bottom: 0;
	left: 0;
	height: 40px;
	background-color: #F5F5F5;
	border: 1px solid lightgray;
	width: 100%;
	}

#footer a {
    display: inline-block;
    padding: 5px;
    margin-top: 8px;
    text-decoration: none;
    vertical-align: middle;
    font-family: "Arial";
    font-size: small;
	color: #5b5b5b;
	}

#left {
	position: absolute;
	left: 30px;
    }

#right {
	position: absolute;
    right: 30px;
    }

#footer a:hover {
	text-decoration: underline;
	}


  
  
  
  
  
  
  
  
  
  